.number-button {
    background-color: #184379;
}

.number-button:nth-of-type(10) {
    width: 195px;
    border-radius: 50px;
}

.number-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}